body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/images/hatter18.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #886383;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 15px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.h1-box {
    text-align: center;
    margin-bottom: 20px;
}

.h1-box h1 {
    font-size: 24px;
    margin: 0;
    color: #000000;
}

.profile {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #886383;
    padding: 20px;
    border-right: 1px solid #181818;
}

.menu a {
    text-decoration: none;
    color: #ebc6eb;
    margin-bottom: 15px;
    font-weight: bold;
}

.menu a:hover {
    color: #000000;
}

.content {
    width: 75%;
    padding: 20px;

}

.opinion {
    position: relative;
}

.opinion input {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #886383;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
}

textarea {
    background-color: #ebc6eb;
    color: #886383;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 150px;
    max-width: 400px;
    width: 200px;
    height: 70px;
}

input:hover {
    background-color: black;

}

.logout {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.logout a {
    color: #ebc6eb;
    text-decoration: none;
    font-weight: bold;
}

.logout a:hover {
    text-decoration: underline;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    /* Az űrlap elemei egymás alatt maradnak */
    gap: 10px;
}

.input-container {
    display: flex;
    align-items: flex-start;
    /* A label a textarea tetejéhez igazodik */
    gap: 10px;
}

label {
    min-width: 120px;
    text-align: left;
}

input-container input {

    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    .container {
        font-size: 12px;
        margin: 15px;
        margin-top: 20px;
    }

    input::placeholder {
        font-size: 10px;
    }

    .content {
        padding: 15px;
    }


    textarea {
        height: 120px;
    }

    .input-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    label {
        min-width: auto;
        margin-bottom: 5px;
    }

    textarea {
        min-width: 50px;
        max-width: 100%;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .opinion input {
        width: 50px;
        height: 20px;
    }

    .opinion input[value] {
        font-size: 12px;
    }
}

@media(max-width: 440px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 200px;

    }

    textarea {
        width: 100%;
        min-height: 50px;
        overflow: hidden;
        resize: none;
        overflow-y: hidden;
    }
}