* {  
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ebc6eb;
}

/*fejléc beállitasai*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #886383;
    top: 0;
    left: 0;
    z-index: 1000;
    position: sticky;
    height: 70px;
}

.kalam-regular {
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
}

.profile-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 23px;
    transition: ease 500ms;
    cursor: pointer;
}

.profile-icon:hover {
    transform: scale(1.1);
}
.logo{
    cursor: pointer;
}
.logo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}


/*törzsben lévő dolgok beállításai*/
.cards-container {
    display: grid;
    /* Grid layout a kártyákhoz */
    grid-template-columns: repeat(2, 1fr);
    /* 2 oszlopos elrendezés */
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    /* Flexbox a kép és tartalom igazításához */
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* A kerekített szélek miatt ne lógjon ki a kép */
    width: 90%;
    height: 400px;
    margin: auto;
    margin-bottom: 30px;
}

.card-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    /* Kép kitöltése */
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;    /* Tartalom függőleges elrendezése */
    justify-content: center;
    text-align: left;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin: 5px 0;
    color: #333;
}

.card-button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #886383;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #333030;
}

/*lábléc beállitasai*/
footer {
    background-color: #886383;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-top: none;
    /* Mrt a lábléc okoz egy felső vonalat */
}

footer p {
    margin: 0;
    color: black;
    font-size: 20px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item img {
    width: 24px;
    height: 24px;
}

.contact-item span {
    font-size: 16px;
    color: #000;
}

.contact-section span {
    font-weight: 500;
}

@media (max-width: 810px) {
    header h1{
        font-size: 1.5rem;
    }
    .profile-icon i{
        font-size: 35px;
    }
    .logo img {
        height: 70px;
        width: 70px;
    }
    .cards-container {
        grid-template-columns: 1fr;
        /* Egy oszlopos elrendezés kisebb képernyőkön */
    }
    .contact-section {
        flex-direction: column;
        text-align: center;
        font-size: 0.9rem;
    }
    footer p{
        font-size: 0.9rem;
    }
}
@media (max-width: 1000px) {
    .card {
        max-width: 90%;
        min-height: 90%;
    }

    .card-title {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    .card-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}