body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8d5c4;
    text-align: center;
}

.calendar-container {
    margin-bottom: 20px;
    background: #f9c0c0;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar {
    width: 500px;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
}

.calendar td {
    cursor: pointer;
}

.calendar td.booked {
    background-color: #f9c0c0;
}

.booking-form {
    display: none;
    flex-direction: column;
    align-items: center;
}

.booking-form h2 {
    margin: 0 0 10px 0;
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form form label, .booking-form form input, .booking-form form button {
    margin-bottom: 10px;
}